<!DOCTYPE html>
<html lang="en">
</HTML>
    <head>
   		<title>HW18</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--     <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css"> -->
    	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="/assets/css/styleIndex.css" type="text/css"/> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans+Condensed:700,300,300italic|Open+Sans:400,300italic,400italic,600,600italic,700,700italic,800,800italic|PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'/> -->
          <style>
            body{
              /*background-color: #DECADE*/
              background-color: #F2F6D0
            }
            #wrapper{
              width:960px;
              margin: 0 auto;
              padding-top: 5%;
            }
            #articles{
              width:60%;
              height:700px;
              display:inline-block;
              overflow: auto;
            }
            #notes{
              width:30%;
              float:right;
            }
            textarea, input{
              display:block;
              width:100%;
              background-color: #FCF5C7;
            }
            input{
              height:36px;
              font-size: 24px;
            }
            textarea{
              height:200px;
              font-size: 18px;
            }
          </style>
    </head>
    
    <body>
        {{{body}}}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        {{!-- // <script type="text/javascript" src="assets/js/sweetalert.min.js"></script> --}}
        {{!-- // <script type="text/javascript" src="assets/js/functionsIndex.js"></script> --}}
        <script type="text/javascript" src="assets/js/app.js"></script>
        
    </body>
</HTML>